* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c29d94; /* marrom claro */
}

.container {
    display: flex;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
}

.image {
    flex: 1;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #c2185b;;
    font-size: 1.8em;
    margin-bottom: 15px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: #333;
}

input[type="text"], select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

input[type="range"] {
    width: 100%;
    
}

#timeDisplay {
    font-weight: bold;
    margin-left: 10px;
}

button {
    background-color: #c2185b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #ad1457;
}

/* Estilos Responsivos para Mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .image img {
        padding-top: 90%;
        width: 100%;
        height: 120vh;
        
        max-width: 300px;
        margin: 0 auto 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    input[type="range"] {
        width: 100%;
    }
}
